<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <base href="http://www.qrstuff.com/" />
  <title>Vipul Car Point</title>
        <meta name="viewport" content="width=320" />



           <link rel="stylesheet" type="text/css" href="include/modules/custom/qrstufflandingpage/css/landing.css" />
          <link rel="stylesheet" type="text/css" href="include/modules/custom/facebook/css/landing-facebook.css" />


            <script type="text/javascript" src="include/qrstufflandingcontroller.js"></script>
      </head>
<body>
  <div id="content">


                <div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>






<a href="intent://#Intent;package=com.android.contacts;action=android.contacts.action.SHOW_OR_CREATE_CONTACT;category=android.intent.category.DEFAULT;scheme=mailto;end;"  class="button wide"> user/userName </a></br></br>
<a href="fb://profile/643132175832617"  class="button wide"> user/userName </a></br></br>
<a href="fb://page/1420183905"  class="button wide"> user/userName </a></br></br>
<a href="fb://page/643132175832617"  class="button wide"> user/userName </a></br></br>



            </div>
   <div id="instructions">*The facebook app can only be used if it's currently installed on the phone.</div>
      <div id="footer">
      Powered By <a href="http://www.creasion.in/">creasion.in</a>
    </div>

</body>
</html>
