{% extends "headers.html" %}
{% block content %}
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
	  </br>
          <img class="rounded-circle img-fluid" src="{{ imageUrl }}" alt="Problem loading image" >
	  </br>
	  </br>
          <div class="intro-lead-in"> Invalid ID </div>
          <div class="intro-heading text-uppercase">Lost!</div>
	  </br>
	  <a href='/' style="width: 250px;" id="visitHomePage" class="btn btn-primary btn-xl text-uppercase" type="submit"> Visit Homepage </a>

        </div>
      </div>
    </header>
{% endblock %}

