{% extends "headers.html" %}
{% block content %}
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading"> Login </div>
	    <form action="/login" method="POST">
                <div class="col-md-6 col-md-offset-10" style="margin: 0px auto">
		<div class="form-group">
                    <input name="userName" class="form-control" id="userName" type="text" placeholder="Username *" required data-validation-required-message="Please enter your username">
                    <p class="help-block text-danger"></p>
                  </div>
		<div class="form-group">
                    <input name="password" class="form-control" id="password" type="password" placeholder="Password *" required data-validation-required-message="Please enter your password">
                    <p class="help-block text-danger"></p>
                  </div>

                <div class="clearfix"></div>
                  <div id="success"></div>

                  <button id="loginButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Log In</button>
              </div>
            </form>
</div>

        </div>
      </div>
    </header>




{% endblock %}

